* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

body {
    background: #eeeeee;
    border: 1px aqua solid;
}

.tm-header {
    background: white;
    border: 1px red solid;
}

.tm-header::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.tm-logo {
    float: left;
}


.tm-container {
    max-width: 1600px;
    margin: 0 auto;
    border: 1px black solid;
}

.tm-nav {
    float: right;
}

.tm-nav ul {
    margin-bottom: 0;
}

.tm-nav ul li {
    display: inline-block;
    border: 1px darkgreen solid;
}

.tm-nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #303030;
    border: 1px orange solid;
    line-height: 60px;
}

.tm-nav ul li a:hover {
    color: blue;
}

/* 2nd part of code  */
.tm-container section img {
    width: 100%;
}

p {
    margin-bottom: 20px;
}

ul,
ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

.tm-content {
    max-width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    float: left;
}

.tm-sidebar {
    margin-top: 30px;
    margin-bottom: 30px;
    /* max-width: 25%; */
    float: right;
    width: 25%;
    /* padding-right: 10px; */

}

.tm-sidebar div {
    background: white;
    padding: 30px;
}


.tm-article {
    background: white;
    padding: 30px;
}

img {
    display: block;
    max-width: 100%;
}

.tm-footer {
    /* clear: both; */
    background: white;
    text-align: center;
    padding: 20px;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}